# **Train-Test**

In [1]:
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# DB 연결
# !pip install pymysql
import pymysql

# 실시간 주식가격 데이터
# !pip install finance-datareader
import FinanceDataReader as fdr

# 텍스트 분석
from konlpy.tag import Okt
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# 기타
import datetime
from collections import Counter
import sys

## **Read Data**

In [2]:
total = pd.read_csv('test_total_KOSELF.csv')

total.head(3)

,date,st_cd,datetime,time,score,Open,High,Low,Close,Volume,Change
0,2020-01-02,5930.0,2.020010e+09,10.407407,0.407407,55500.0,56000.0,55000.0,55200.0,12993228.0,-0.010753
1,2020-01-03,5930.0,2.020010e+09,11.432432,2.054054,56000.0,56600.0,54900.0,55500.0,15422255.0,0.005435
2,2020-01-06,5930.0,2.020010e+09,12.403509,0.368421,54900.0,55600.0,54600.0,55500.0,10278951.0,0.000000

In [3]:
total_test = pd.read_csv('test_total_blog.csv')

total_test.head(3)

,date,st_cd,datetime,time,score,Open,High,Low,Close,Volume,Change
0,2020-01-02,5930.0,2.020010e+09,10.407407,0.407407,55500.0,56000.0,55000.0,55200.0,12993228.0,-0.010753
1,2020-01-03,5930.0,2.020010e+09,11.432432,2.054054,56000.0,56600.0,54900.0,55500.0,15422255.0,0.005435
2,2020-01-06,5930.0,2.020010e+09,12.403509,0.368421,54900.0,55600.0,54600.0,55500.0,10278951.0,0.000000