# **MySQL DB to Local DB**

In [1]:
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# DB 연결
# !pip install pymysql
import pymysql

# DB에 저장
import sqlalchemy
from sqlalchemy import create_engine

# 실시간 주식가격 데이터
# !pip install finance-datareader
import FinanceDataReader as fdr

# 텍스트 분석
# 1) JAVA 설치, 2) Python 버전과 맞는 JPype1-py3 설치, 3) !pip install konlpy, 4) 설치 경로에서 jvm.py 파일 코드 67번 줄 주석 처리 
from konlpy.tag import Okt
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# 모델 학습 및 평가
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.metrics import precision_score, recall_score

# 모델 저장 및 로드
import joblib

# 기타
import datetime
from collections import Counter
import sys
import warnings
warnings.filterwarnings('ignore')

## **Read & Save Data**

In [2]:
def arguments():
    
    
    ### 1) 매체 선택
    media_list = ['매일경제', '아시아경제', '삼프로TV', '슈카월드', '한국경제TV']
    media_name = str(input('***매체명 입력(매일경제/아시아경제/삼프로TV/슈카월드/한국경제TV) :'))
    while media_name not in media_list:
        media_name = str(input('***매체명 다시 입력(매일경제/아시아경제/삼프로TV/슈카월드/한국경제TV) :'))
        if media_name in media_list:
            break
    if media_name == '매일경제':
        globals()['craw_media'] = 'maeil_news_craw'
    elif media_name == '아시아경제':
        globals()['craw_media'] = 'asia_news_craw'
    elif media_name == '삼프로TV':
        globals()['craw_media'] = 'youtube_sampro'
    elif media_name == '슈카월드':
        globals()['craw_media'] = 'youtube_suka'
    else:
        globals()['craw_media'] = 'youtube_hk'
    
    
    ### 2) date 지정
    
    ## 2-1) 시작 날짜
    globals()['start_date'] = str(input('***시작 날짜(YYYY-MM-DD) :'))
    while len(globals()['start_date']) != 10:
        start_date = str(input('***시작 날짜 다시 입력(YYYY-MM-DD) :'))
        if len(globals()['start_date']) == 10:
            break
    globals()['start_date'] = globals()['start_date'].replace('/', '-')
    globals()['start_date'] = globals()['start_date'].replace('.', '-')
    
    ## 2-2) 종료 날짜
    globals()['end_date'] = str(input('***종료 날짜(YYYY-MM-DD) :'))
    while len(globals()['end_date']) != 10:
        globals()['end_date'] = str(input('***종료 날짜 다시 입력(YYYY-MM-DD) :'))
        if len(end_date) == 10:
            break
    globals()['end_date'] = globals()['end_date'].replace('/', '-')
    globals()['end_date'] = globals()['end_date'].replace('.', '-')
    
    ## 2-3) if 시작 날짜 < 종료 날짜: ...;;
    if globals()['start_date'] > globals()['end_date']:
        globals()['start_date'], globals()['end_date'] = globals()['end_date'], globals()['start_date']
    else:
        pass
    
    
    return globals()['craw_media'], globals()['start_date'], globals()['end_date']

In [3]:
#*** 아직 YouTube 채널 크롤링 데이터는 별도의 전처리 코드 작성 필요 ***#
def to_local_db(craw_media):
    #### 1. Read Data
    
    
    ### 1) KOSELF 감성 어휘 사전
    #*** 추후에 감성사전도 DB 연결해서 사용하도록 코드 변경 필요 ***#
    with open('KOSELF_pos.txt', encoding='utf-8') as pos:
        positive = pos.readlines()
    positive = [pos.replace('\n', '') for pos in positive]
    with open('KOSELF_neg.txt', encoding='utf-8') as neg:
        negative = neg.readlines()
    negative = [neg.replace('\n', '') for neg in negative]
    
    
    ### 2) News Data from DB
    db = pymysql.connect(user='root',
                         passwd='1234',
                         host='3.35.70.166',
                         db='proj',
                         charset='utf8')

    cursor = db.cursor(pymysql.cursors.DictCursor)
    
    ## 2-1) 전체 종목 뉴스 데이터
    corp_list = ['samsung', 'hyundai', 'lg', 'sk']
    stock_num_list = ['005930', '005380', '051910', '000660']
    
    ## 2-2) DB의 date 컬럼과 형태 통일
    for i in range(len(corp_list)):
        sql = "select * from {0}_{1}".format(craw_media, stock_num_list[i])
        cursor.execute(sql)
        result = cursor.fetchall()

        # DataFrame으로 변경
        globals()[corp_list[i]] = pd.DataFrame(result)

### **① 매일경제**

In [4]:
arguments()

***매체명 입력(매일경제/아시아경제/삼프로TV/슈카월드/한국경제TV) : 매일경제
***시작 날짜(YYYY-MM-DD) : 2018-01-01
***종료 날짜(YYYY-MM-DD) : 2021-09-09

('maeil_news_craw', '2018-01-01', '2021-09-09')

In [5]:
to_local_db(craw_media)

In [6]:
corp_list = ['samsung', 'hyundai', 'lg', 'sk']
stock_num_list = ['005930', '005380', '051910', '000660']

for i in range(len(corp_list)):
    
    pymysql.install_as_MySQLdb()

    engine = create_engine("mysql+mysqldb://root:"+"0808"+"@127.0.0.1/proj", encoding='utf-8')
    conn = engine.connect()

    globals()[corp_list[i]].to_sql(name=craw_media+'_'+stock_num_list[i], con=engine, if_exists='append', index=False,
                                   dtype={
                                       'st_n': sqlalchemy.types.VARCHAR(10),
                                       'st_cd': sqlalchemy.types.VARCHAR(10),
                                       'news': sqlalchemy.types.TEXT(),
                                       'date': sqlalchemy.types.VARCHAR(10),
                                       'title': sqlalchemy.types.TEXT(),
                                       'url': sqlalchemy.types.TEXT(),
                                       'text': sqlalchemy.types.TEXT()
                                       })

### **② 아시아경제**

In [7]:
arguments()

***매체명 입력(매일경제/아시아경제/삼프로TV/슈카월드/한국경제TV) : 아시아경제
***시작 날짜(YYYY-MM-DD) : 2018-01-01
***종료 날짜(YYYY-MM-DD) : 2021-09-09

('asia_news_craw', '2018-01-01', '2021-09-09')

In [8]:
to_local_db(craw_media)

In [9]:
corp_list = ['samsung', 'hyundai', 'lg', 'sk']
stock_num_list = ['005930', '005380', '051910', '000660']

for i in range(len(corp_list)):
    
    pymysql.install_as_MySQLdb()

    engine = create_engine("mysql+mysqldb://root:"+"0808"+"@127.0.0.1/proj", encoding='utf-8')
    conn = engine.connect()

    globals()[corp_list[i]].to_sql(name=craw_media+'_'+stock_num_list[i], con=engine, if_exists='append', index=False,
                                   dtype={
                                       'st_n': sqlalchemy.types.VARCHAR(10),
                                       'st_cd': sqlalchemy.types.VARCHAR(10),
                                       'news': sqlalchemy.types.TEXT(),
                                       'date': sqlalchemy.types.VARCHAR(10),
                                       'title': sqlalchemy.types.TEXT(),
                                       'url': sqlalchemy.types.TEXT(),
                                       'text': sqlalchemy.types.TEXT()
                                       })

### **③ 삼프로TV**

In [10]:
arguments()

***매체명 입력(매일경제/아시아경제/삼프로TV/슈카월드/한국경제TV) : 삼프로TV
***시작 날짜(YYYY-MM-DD) : 2018-01-01
***종료 날짜(YYYY-MM-DD) : 2021-09-09

('youtube_sampro', '2018-01-01', '2021-09-09')

In [11]:
to_local_db(craw_media)

In [12]:
mysqldb = pymysql.connect(user='root', password='0808', host='localhost', db='proj', charset='utf8')
curs = mysqldb.cursor()

stock_num_list = ['005930', '005380', '051910', '000660']
##### DB에서 컬럼만 뽑기 #####
for cd in stock_num_list:
    sql = "create table {}_{} (\
    st_n varchar(10),\
    st_cd varchar(10),\
    ch_nm varchar(30),\
    date varchar(20),\
    title TEXT,\
    text MEDIUMTEXT,\
    views INT,\
    length INT,\
    description TEXT,\
    url TEXT\
    )".format(craw_media, cd)
    
    curs.execute(sql) 

    mysqldb.commit() 
mysqldb.close()

In [13]:
corp_list = ['samsung', 'hyundai', 'lg', 'sk']
stock_num_list = ['005930', '005380', '051910', '000660']

for i in range(len(corp_list)):
    
    pymysql.install_as_MySQLdb()

    engine = create_engine("mysql+mysqldb://root:"+"0808"+"@127.0.0.1/proj", encoding='utf-8')
    conn = engine.connect()

    globals()[corp_list[i]].to_sql(name=craw_media+'_'+stock_num_list[i], con=engine, if_exists='append', index=False,
                                   dtype={
                                       'st_n': sqlalchemy.types.VARCHAR(10),
                                       'st_cd': sqlalchemy.types.VARCHAR(10),
                                       'ch_nm': sqlalchemy.types.TEXT(),
                                       'date': sqlalchemy.types.VARCHAR(10),
                                       'title': sqlalchemy.types.TEXT(),
                                       'url': sqlalchemy.types.TEXT(),
                                       'text': sqlalchemy.types.TEXT()
                                       })

### **④ 슈카월드**

In [14]:
arguments()

***매체명 입력(매일경제/아시아경제/삼프로TV/슈카월드/한국경제TV) : 슈카월드
***시작 날짜(YYYY-MM-DD) : 2018-01-01
***종료 날짜(YYYY-MM-DD) : 2021-09-09

('youtube_suka', '2018-01-01', '2021-09-09')

In [15]:
to_local_db(craw_media)

In [16]:
mysqldb = pymysql.connect(user='root', password='0808', host='localhost', db='proj', charset='utf8')
curs = mysqldb.cursor()

stock_num_list = ['005930', '005380', '051910', '000660']
##### DB에서 컬럼만 뽑기 #####
for cd in stock_num_list:
    sql = "create table {}_{} (\
    st_n varchar(10),\
    st_cd varchar(10),\
    ch_nm varchar(30),\
    date varchar(20),\
    title TEXT,\
    text MEDIUMTEXT,\
    views INT,\
    length INT,\
    description TEXT,\
    url TEXT\
    )".format(craw_media, cd)
    
    curs.execute(sql) 

    mysqldb.commit() 
mysqldb.close()

In [17]:
corp_list = ['samsung', 'hyundai', 'lg', 'sk']
stock_num_list = ['005930', '005380', '051910', '000660']

for i in range(len(corp_list)):
    
    pymysql.install_as_MySQLdb()

    engine = create_engine("mysql+mysqldb://root:"+"0808"+"@127.0.0.1/proj", encoding='utf-8')
    conn = engine.connect()

    globals()[corp_list[i]].to_sql(name=craw_media+'_'+stock_num_list[i], con=engine, if_exists='append', index=False,
                                   dtype={
                                       'st_n': sqlalchemy.types.VARCHAR(10),
                                       'st_cd': sqlalchemy.types.VARCHAR(10),
                                       'ch_nm': sqlalchemy.types.TEXT(),
                                       'date': sqlalchemy.types.VARCHAR(10),
                                       'title': sqlalchemy.types.TEXT(),
                                       'url': sqlalchemy.types.TEXT(),
                                       'text': sqlalchemy.types.TEXT()
                                       })

### **⑤ 한국경제TV**

In [18]:
arguments()

***매체명 입력(매일경제/아시아경제/삼프로TV/슈카월드/한국경제TV) : 한국경제TV
***시작 날짜(YYYY-MM-DD) : 2018-01-01
***종료 날짜(YYYY-MM-DD) : 2021-09-09

('youtube_hk', '2018-01-01', '2021-09-09')

In [19]:
to_local_db(craw_media)

In [20]:
mysqldb = pymysql.connect(user='root', password='0808', host='localhost', db='proj', charset='utf8')
curs = mysqldb.cursor()

stock_num_list = ['005930', '005380', '051910', '000660']
##### DB에서 컬럼만 뽑기 #####
for cd in stock_num_list:
    sql = "create table {}_{} (\
    st_n varchar(10),\
    st_cd varchar(10),\
    ch_nm varchar(30),\
    date varchar(20),\
    title TEXT,\
    text MEDIUMTEXT,\
    views INT,\
    length INT,\
    description TEXT,\
    url TEXT\
    )".format(craw_media, cd)
    
    curs.execute(sql) 

    mysqldb.commit() 
mysqldb.close()

In [21]:
corp_list = ['samsung', 'hyundai', 'lg', 'sk']
stock_num_list = ['005930', '005380', '051910', '000660']

for i in range(len(corp_list)):
    
    pymysql.install_as_MySQLdb()

    engine = create_engine("mysql+mysqldb://root:"+"0808"+"@127.0.0.1/proj", encoding='utf-8')
    conn = engine.connect()

    globals()[corp_list[i]].to_sql(name=craw_media+'_'+stock_num_list[i], con=engine, if_exists='append', index=False,
                                   dtype={
                                       'st_n': sqlalchemy.types.VARCHAR(10),
                                       'st_cd': sqlalchemy.types.VARCHAR(10),
                                       'ch_nm': sqlalchemy.types.TEXT(),
                                       'date': sqlalchemy.types.VARCHAR(10),
                                       'title': sqlalchemy.types.TEXT(),
                                       'url': sqlalchemy.types.TEXT(),
                                       'text': sqlalchemy.types.TEXT()
                                       })

In [22]:
# pymysql.install_as_MySQLdb()

# engine = create_engine("mysql+mysqldb://root:"+"1234"+"@3.35.70.166/proj", encoding='utf-8')
# conn = engine.connect()

# data_s.to_sql(name='asia_news_craw_005380', con=engine, if_exists='append', index=False,
#               dtype={
#                   'st_n': sqlalchemy.types.VARCHAR(10),
#                   'st_cd': sqlalchemy.types.VARCHAR(10),
#                   'news': sqlalchemy.types.TEXT(),
#                   'n_date': sqlalchemy.types.VARCHAR(10),
#                   'title': sqlalchemy.types.TEXT(),
#                   'url': sqlalchemy.types.TEXT(),
#                   'text': sqlalchemy.types.TEXT()
#                   })